<template>
<div class="home">
  <div class="title">
    <h1>
      Welcome to the penguin customizer
    </h1>
  </div>
  <div class="editor">
    <p>
      Background: <input placeholder="Background" v-model="background"/>
    </p>
    <p>
      Light Color: <input placeholder="Light Color" v-model="light"/>
    </p>
    <p>
      Beak: <input placeholder="Beak" v-model="beak"/>
    </p>
    <p>
      Beak Shade: <input placeholder="Beak Shade" v-model="beakShade"/>
    </p>
    <p>
      Eyes: <input placeholder="Eyes" v-model="eyes"/>
    </p>
    <p>
      Feet: <input placeholder="Feet" v-model="feet"/>
    </p>
    <p>
      Dark Color: <input placeholder="Dark Color" v-model="dark"/>
    </p>
    <p>
      Secondary Dark: <input placeholder="Dark Secondary Color" v-model="darkShade"/>
    </p>
    <p>
      Initials: <input placeholder="Initials" v-model="Initials"/>
    </p>
    <p>
      Font Color: <input placeholder="Font Color" v-model="fontColor"/>
    </p>
    <p>
      Font X: <input placeholder="X" v-model="x"/>
    </p>
    <p>
      Font Y: <input placeholder="Y" v-model="y"/>
    </p>
  </div>
  <div id="pengu">
    <svg width="100%" height="100%">
      <rect width="100%" height="100%" :style="'fill: #' + background + ';'" />
      <g id="g70" class="layer">
        <g id="g74" transform="translate(380.75627,86.402899)">
          <path :style="'fill:#'+ light + ';stroke-width:2.09659'"
            d="m -235.80449,579.2075 c -3.70114,-1.64989 -3.2588,-15.7476 0.67009,-21.35688 1.80996,-2.58409 8.17836,-7.15311 14.15199,-10.15339 5.97365,-3.00029 11.20127,-5.76032 11.61698,-6.13338 0.41569,-0.37306 -7.85646,-8.87401 -18.38259,-18.89097 -40.60693,-38.64278 -58.92063,-69.85747 -68.37974,-116.54949 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -11.19586,17.30702 -33.439021,41.28672 -50.410135,54.34569 l -12.417035,9.5547 11.3376,3.85379 c 14.182401,4.82074 18.751875,9.32392 19.991762,19.70168 1.764737,14.77068 2.870369,14.48546 -55.2019923,14.24005 -68.8263487,-0.29087 -73.9673427,-0.30432 -95.9968497,-0.25098 -10.378126,0.0252 -23.114916,-0.13885 -28.303976,-0.36418 -5.18907,-0.22542 -32.07785,0.0813 -59.75285,0.68188 -27.67501,0.60046 -51.49752,0.56601 -52.93893,-0.0766 z"
            id="path88" />
          <path :style="'fill:#' + beakShade + ';stroke-width:2.09659'"
            d="m -235.80449,579.2075 c -3.70114,-1.64989 -3.2588,-15.7476 0.67009,-21.35688 1.80996,-2.58409 8.17836,-7.15311 14.15199,-10.15339 5.97365,-3.00029 11.20127,-5.76032 11.61698,-6.13338 0.41569,-0.37306 -7.85646,-8.87401 -18.38259,-18.89097 -40.60693,-38.64278 -58.92063,-69.85747 -68.37974,-116.54949 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -11.19586,17.30702 -33.439021,41.28672 -50.410135,54.34569 l -12.417035,9.5547 11.3376,3.85379 c 14.182401,4.82074 18.751875,9.32392 19.991762,19.70168 1.764737,14.77068 2.870369,14.48546 -55.2019923,14.24005 -68.8263487,-0.29087 -73.9673427,-0.30432 -95.9968497,-0.25098 -10.378126,0.0252 -23.114916,-0.13885 -28.303976,-0.36418 -5.18907,-0.22542 -32.07785,0.0813 -59.75285,0.68188 -27.67501,0.60046 -51.49752,0.56601 -52.93893,-0.0766 z m 183.548464,-43.87568 c 43.8949133,-10.15101 92.649715,-45.4135 114.62023,-82.90049 10.73625,-18.31864 19.396954,-45.46959 22.267213,-69.80689 2.843732,-24.11243 0.94246,-49.80062 -8.709606,-117.67618 C 67.795014,207.79875 41.133083,56.785193 37.203673,45.648033 27.727233,18.788939 1.5736788,-0.27052137 -25.806161,-0.27052137 c -24.033838,0 -44.335119,13.59290837 -57.57462,38.54962937 -2.822033,5.319575 -5.60433,9.67029 -6.182863,9.668215 -0.578565,-0.0016 -3.780091,-4.322002 -7.114583,-9.599877 C -105.20089,24.85758 -120.7596,9.4331524 -131.67016,3.6575208 c -7.48077,-3.96000995 -12.49155,-4.903759 -26.03631,-4.903759 -19.24922,0 -29.25045,4.0680839 -41.82015,17.0107242 -16.5355,17.026055 -19.85408,29.346511 -39.72953,147.499104 -22.10698,131.41829 -28.43748,201.7672 -21.31928,236.91482 8.9714,44.29812 33.2527,80.41401 71.42009,106.22996 44.80293,30.30416 89.81028,39.8131 136.899314,28.92345 z M -96.158645,162.79343 c -12.696485,-7.68551 -26.954065,-20.80961 -26.954065,-24.81121 0,-8.99905 22.409,-27.13341 33.529268,-27.13341 11.223252,0 35.658236,17.27444 35.658236,25.20877 0,4.11454 -16.779056,20.12835 -28.071023,26.79076 l -7.125983,4.20444 z m -72.281005,-62.23802 c -18.86182,-11.501525 -10.01614,-42.121384 12.16834,-42.121384 15.43716,0 24.77224,9.166527 24.77224,24.325006 0,17.700588 -20.72435,27.684678 -36.94058,17.796378 z m 129.286826,-1.867369 c -5.390147,-5.390132 -6.386007,-7.99817 -6.386007,-16.724067 0,-7.996174 1.135776,-11.563623 5.01372,-15.748005 10.846006,-11.703019 32.1419527,-8.417304 38.1161367,5.880891 6.8132399,16.306395 -1.8596344,30.23887 -19.9027147,31.97259 -9.502652,0.91308 -11.036932,0.42281 -16.841135,-5.381409 z"
            id="path86" />
          <path :style="'fill:#' + beak + ';stroke-width:2.09659'"
            d="m -235.80449,579.2075 c -3.70114,-1.64989 -3.2588,-15.7476 0.67009,-21.35688 1.80996,-2.58409 8.17836,-7.15311 14.15199,-10.15339 5.97365,-3.00029 11.20127,-5.76032 11.61698,-6.13338 0.41569,-0.37306 -7.85646,-8.87401 -18.38259,-18.89097 -40.60693,-38.64278 -58.92063,-69.85747 -68.37974,-116.54949 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -11.19586,17.30702 -33.439021,41.28672 -50.410135,54.34569 l -12.417035,9.5547 11.3376,3.85379 c 14.182401,4.82074 18.751875,9.32392 19.991762,19.70168 1.764737,14.77068 2.870369,14.48546 -55.2019923,14.24005 -68.8263487,-0.29087 -73.9673427,-0.30432 -95.9968497,-0.25098 -10.378126,0.0252 -23.114916,-0.13885 -28.303976,-0.36418 -5.18907,-0.22542 -32.07785,0.0813 -59.75285,0.68188 -27.67501,0.60046 -51.49752,0.56601 -52.93893,-0.0766 z m 183.548464,-43.87568 c 43.8949133,-10.15101 92.649715,-45.4135 114.62023,-82.90049 10.73625,-18.31864 19.396954,-45.46959 22.267213,-69.80689 2.843732,-24.11243 0.94246,-49.80062 -8.709606,-117.67618 C 67.795014,207.79875 41.133083,56.785193 37.203673,45.648033 27.727233,18.788939 1.5736788,-0.27052137 -25.806161,-0.27052137 c -24.033838,0 -44.335119,13.59290837 -57.57462,38.54962937 -2.822033,5.319575 -5.60433,9.67029 -6.182863,9.668215 -0.578565,-0.0016 -3.780091,-4.322002 -7.114583,-9.599877 C -105.20089,24.85758 -120.7596,9.4331524 -131.67016,3.6575208 c -7.48077,-3.96000995 -12.49155,-4.903759 -26.03631,-4.903759 -19.24922,0 -29.25045,4.0680839 -41.82015,17.0107242 -16.5355,17.026055 -19.85408,29.346511 -39.72953,147.499104 -22.10698,131.41829 -28.43748,201.7672 -21.31928,236.91482 8.9714,44.29812 33.2527,80.41401 71.42009,106.22996 44.80293,30.30416 89.81028,39.8131 136.899314,28.92345 z M -98.011251,161.84251 c -13.128689,-8.90899 -25.101459,-20.28973 -25.101459,-23.86029 0,-7.94461 22.18162,-27.13341 31.365335,-27.13341 1.397289,0 2.180114,9.78681 2.180114,27.25568 0,14.99064 -0.733529,27.2557 -1.630074,27.2557 -0.89656,0 -3.962824,-1.58298 -6.813916,-3.51768 z m -70.428399,-61.2871 c -18.86182,-11.501525 -10.01614,-42.121384 12.16834,-42.121384 15.43716,0 24.77224,9.166527 24.77224,24.325006 0,17.700588 -20.72435,27.684678 -36.94058,17.796378 z m 129.286826,-1.867369 c -5.390147,-5.390132 -6.386007,-7.99817 -6.386007,-16.724067 0,-7.996174 1.135776,-11.563623 5.01372,-15.748005 10.846006,-11.703019 32.1419527,-8.417304 38.1161367,5.880891 6.8132399,16.306395 -1.8596344,30.23887 -19.9027147,31.97259 -9.502652,0.91308 -11.036932,0.42281 -16.841135,-5.381409 z"
            id="path84" />
          <path :style="'fill:#'+ feet + ';stroke-width:2.09659'"
            d="m -235.80449,579.21887 c -3.70084,-1.66583 -3.25889,-15.75884 0.67009,-21.36825 1.80996,-2.58409 8.17836,-7.15311 14.15199,-10.15339 5.97365,-3.00029 11.20127,-5.76032 11.61698,-6.13338 0.41569,-0.37306 -7.85646,-8.87401 -18.38259,-18.89097 -40.60693,-38.64278 -58.92063,-69.85747 -68.37974,-116.54949 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -11.19586,17.30702 -33.439021,41.28672 -50.410135,54.34569 l -12.417035,9.5547 11.3376,3.85379 c 14.182401,4.82074 18.751875,9.32392 19.991762,19.70168 1.764737,14.77068 2.870369,14.48546 -55.2019923,14.24005 -68.8263487,-0.29087 -73.9673427,-0.30432 -95.9968497,-0.25098 -10.378126,0.0252 -23.114916,-0.15331 -28.303976,-0.39659 -5.18907,-0.24327 -32.07785,0.0687 -59.75285,0.69323 -27.67501,0.62454 -51.49752,0.60468 -52.93893,-0.0442 z m 183.548464,-43.88705 c 43.8949133,-10.15101 92.649715,-45.4135 114.62023,-82.90049 10.73625,-18.31864 19.396954,-45.46959 22.267213,-69.80689 2.843732,-24.11243 0.94246,-49.80062 -8.709606,-117.67618 C 67.795014,207.79875 41.133083,56.785193 37.203673,45.648033 27.727233,18.788939 1.5736788,-0.27052137 -25.806161,-0.27052137 c -24.033838,0 -44.335119,13.59290837 -57.57462,38.54962937 -2.822033,5.319575 -5.60433,9.67029 -6.182863,9.668215 -0.578565,-0.0016 -3.780091,-4.322002 -7.114583,-9.599877 C -105.20089,24.85758 -120.7596,9.4331524 -131.67016,3.6575208 c -7.48077,-3.96000995 -12.49155,-4.903759 -26.03631,-4.903759 -19.24922,0 -29.25045,4.0680839 -41.82015,17.0107242 -16.5355,17.026055 -19.85408,29.346511 -39.72953,147.499104 -22.10698,131.41829 -28.43748,201.7672 -21.31928,236.91482 8.9714,44.29812 33.2527,80.41401 71.42009,106.22996 44.80293,30.30416 89.81028,39.8131 136.899314,28.92345 z M -168.43965,100.55541 c -18.86182,-11.501525 -10.01614,-42.121384 12.16834,-42.121384 15.43716,0 24.77224,9.166527 24.77224,24.325006 0,17.700588 -20.72435,27.684678 -36.94058,17.796378 z m 129.286826,-1.867369 c -5.390147,-5.390132 -6.386007,-7.99817 -6.386007,-16.724067 0,-7.996174 1.135776,-11.563623 5.01372,-15.748005 10.846006,-11.703019 32.1419527,-8.417304 38.1161367,5.880891 6.8132399,16.306395 -1.8596344,30.23887 -19.9027147,31.97259 -9.502652,0.91308 -11.036932,0.42281 -16.841135,-5.381409 z"
            id="path82" />
          <path :style="'fill:#' + eyes + ';stroke-width:2.09659'"
            d="m -121.01613,577.4077 c -20.05909,-5.74598 -57.13976,-20.03576 -71.30082,-27.47721 -9.5055,-4.99498 -21.92019,-14.50437 -34.59067,-26.4957 -41.24738,-39.03641 -59.69724,-70.30445 -69.22014,-117.3114 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -18.143308,28.0467 -56.646398,63.39746 -84.1594394,77.26916 -12.5444185,6.3247 -52.9379256,19.10802 -74.0054586,23.42043 -14.543466,2.977 -38.887768,2.59158 -50.739148,-0.80331 z m 68.760104,-42.07588 c 43.8949133,-10.15101 92.649715,-45.4135 114.62023,-82.90049 10.73625,-18.31864 19.396954,-45.46959 22.267213,-69.80689 2.843732,-24.11243 0.94246,-49.80062 -8.709606,-117.67618 C 67.795014,207.79875 41.133083,56.785193 37.203673,45.648033 27.727233,18.788939 1.5736788,-0.27052137 -25.806161,-0.27052137 c -24.033838,0 -44.335119,13.59290837 -57.57462,38.54962937 -2.822033,5.319575 -5.60433,9.67029 -6.182863,9.668215 -0.578565,-0.0016 -3.780091,-4.322002 -7.114583,-9.599877 C -105.20089,24.85758 -120.7596,9.4331524 -131.67016,3.6575208 c -7.48077,-3.96000995 -12.49155,-4.903759 -26.03631,-4.903759 -19.24922,0 -29.25045,4.0680839 -41.82015,17.0107242 -16.5355,17.026055 -19.85408,29.346511 -39.72953,147.499104 -22.10698,131.41829 -28.43748,201.7672 -21.31928,236.91482 8.9714,44.29812 33.2527,80.41401 71.42009,106.22996 44.80293,30.30416 89.81028,39.8131 136.899314,28.92345 z M -168.43965,100.55541 c -18.86182,-11.501525 -10.01614,-42.121384 12.16834,-42.121384 15.43716,0 24.77224,9.166527 24.77224,24.325006 0,17.700588 -20.72435,27.684678 -36.94058,17.796378 z m 129.286826,-1.867369 c -5.390147,-5.390132 -6.386007,-7.99817 -6.386007,-16.724067 0,-7.996174 1.135776,-11.563623 5.01372,-15.748005 10.846006,-11.703019 32.1419527,-8.417304 38.1161367,5.880891 6.8132399,16.306395 -1.8596344,30.23887 -19.9027147,31.97259 -9.502652,0.91308 -11.036932,0.42281 -16.841135,-5.381409 z"
            id="path80" />
          <path :style="'fill:#' + darkShade + ';stroke-width:2.09659'"
            d="m -121.01613,577.4077 c -20.05909,-5.74598 -57.13976,-20.03576 -71.30082,-27.47721 -9.5055,-4.99498 -21.92019,-14.50437 -34.59067,-26.4957 -41.24738,-39.03641 -59.69724,-70.30445 -69.22014,-117.3114 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 11.02401,-62.1296 16.7703,-89.69656 22.12577,-106.144979 17.19019,-52.796609 62.32645,-93.208482 119.2978,-106.810951 24.82324,-5.92679 63.424443,-4.912659 85.960245,2.258343 34.285807,10.909895 68.199259,33.414941 85.961925,57.044534 24.509948,32.6053997 29.195043,49.206785 51.64639,183.005313 4.92797,29.36824 9.72179,41.05823 25.48615,62.14938 30.76263,41.15737 65.97285,121.31603 78.32535,178.31347 3.27746,15.12305 3.2727,16.71009 -0.0766,25.47998 -5.60557,14.67801 -13.82764,15.21589 -34.17897,2.23589 -12.08887,-7.71019 -21.72774,-17.41615 -33.60557,-33.83942 -4.36039,-6.02905 -8.52848,-10.98224 -9.26238,-11.0071 -0.73393,-0.025 -1.96466,4.43624 -2.73499,9.91358 -3.92098,27.87997 -16.13885,60.75196 -31.279464,84.15694 -18.143308,28.0467 -56.646398,63.39746 -84.1594394,77.26916 -12.5444185,6.3247 -52.9379256,19.10802 -74.0054586,23.42043 -14.543466,2.977 -38.887768,2.59158 -50.739148,-0.80331 z m 68.760104,-42.07588 c 43.8949133,-10.15101 92.649715,-45.4135 114.62023,-82.90049 10.73625,-18.31864 19.396954,-45.46959 22.267213,-69.80689 2.843732,-24.11243 0.94246,-49.80062 -8.709606,-117.67618 C 67.795014,207.79875 41.133083,56.785193 37.203673,45.648033 27.727233,18.788939 1.5736788,-0.27052137 -25.806161,-0.27052137 c -24.033838,0 -44.335119,13.59290837 -57.57462,38.54962937 -2.822033,5.319575 -5.60433,9.67029 -6.182863,9.668215 -0.578565,-0.0016 -3.780091,-4.322002 -7.114583,-9.599877 C -105.20089,24.85758 -120.7596,9.4331524 -131.67016,3.6575208 c -7.48077,-3.96000995 -12.49155,-4.903759 -26.03631,-4.903759 -19.24922,0 -29.25045,4.0680839 -41.82015,17.0107242 -16.5355,17.026055 -19.85408,29.346511 -39.72953,147.499104 -22.10698,131.41829 -28.43748,201.7672 -21.31928,236.91482 8.9714,44.29812 33.2527,80.41401 71.42009,106.22996 44.80293,30.30416 89.81028,39.8131 136.899314,28.92345 z"
            id="path78" />
          <path :style="'fill:#' + dark + ';stroke-width:2.09659'"
            d="m -121.01613,577.4077 c -20.05909,-5.74598 -57.13976,-20.03576 -71.30082,-27.47721 -9.5055,-4.99498 -21.92019,-14.50437 -34.59067,-26.4957 -41.24738,-39.03641 -59.69724,-70.30445 -69.22014,-117.3114 -1.94724,-9.61192 -3.92723,-17.88384 -4.4,-18.38199 -0.47275,-0.49818 -9.10042,7.9268 -19.17256,18.72216 -31.48936,33.75039 -48.38171,39.85689 -58.12652,21.0125 -4.57974,-8.85623 -4.01003,-15.11908 4.05076,-44.53058 15.05745,-54.94019 40.68525,-112.09019 69.94704,-155.98179 24.77297,-37.15855 22.37236,-30.37672 34.05128,-96.19725 19.32589,-108.917825 23.86879,-123.047754 50.7886,-157.969708 24.27723,-31.493824 79.39216,-58.96073 118.4148,-59.012809 l 11.007099,-0.01415 v 67.587075 67.587076 L -97.189665,37.625286 C -107.29764,22.615841 -120.63247,9.5075447 -131.82361,3.5797949 c -7.29005,-3.86143345 -12.46109,-4.8327474 -25.88286,-4.8617905 -14.75096,-0.031921 -18.14261,0.72187733 -28.13747,6.2534815 -21.06688,11.6594001 -30.18922,29.2325401 -38.81706,74.7766321 -20.71175,109.331532 -36.33171,219.565392 -38.27454,270.112622 -1.4327,37.27488 1.5404,57.48931 12.23924,83.2162 23.19849,55.78413 83.78525,99.06915 149.07365,106.50272 l 12.055389,1.3726 v 19.76678 19.76675 l -11.007099,-0.18744 c -6.05391,-0.10315 -15.25271,-1.40363 -20.44177,-2.89007 z"
            id="path76" />
        </g>
      </g>
      <text x="0" y="15" :style="'fill:#' + fontColor + ';transform: translate('+ x + 'px,' + y + 'px);font-size: 10em;'">{{ Initials }}</text>
    </svg>
  </div>
</div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      background: "ffffff",
      light: "ffffff",
      beak: "f79411",
      beakShade: "ffb05b",
      eyes: "000000",
      feet: "f79411",
      dark: "252525",
      darkShade: "3f3f3f",
      Initials: "AB",
      fontColor: "000000",
      x: "135",
      y: "330"
    }
  }
}
</script>

<style lang="scss">
.home {
    color: white;
    .title {
        text-align: center;
    }
    .editor{
      width: 55%;
      margin: auto;
      p{
        display: inline-block;
        width: 45%;
      }
    }
    #pengu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid black;
        width: 500px;
        height: 500px;
        .layer {
            scale: 70%;
            transform: translate(60px,30px);
        }
    }
}
</style>
