<template>
  <div id="app">
    <home />
  </div>
</template>

<script>
// @ is an alias to /src
import Home from '@/views/Home.vue'

export default {
  name: 'App',
  components: {
    Home
  }
}
</script>

<style>
body{
  margin: 0px;
  background: #111111;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
